.updatePasswordContainer {
  width: 100vw;
  min-height: 42.1vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff00;
  top: 0%;
  left: 0;
}

.updatePasswordBox {
  position: absolute;
  border: solid none;
  background-color: #00000057;
  transition: 0s;
  border-radius: 12px;
  width: 25vw;
  height: 70vh;
  box-sizing: border-box;
  overflow: hidden;
}

.updatePasswordHeading {
  text-align: center;
  color: #ffffff;
  font: 200 1.3vmax "Roboto";
  padding: 1.3vmax;
  border-bottom: 1px solid #ffffff;
  width: 50%;
  margin: auto;
}

.updatePasswordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 2vmax;
  justify-content: space-evenly;
  height: 70%;
  transition: all 0.5s;
}

.updatePasswordForm > div {
  display: flex;
  width: 100%;
  align-items: center;
}

.updatePasswordForm > div > input {
  padding: 1vmax 4vmax;
  padding-right: 1vmax;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #00000044;
  border-radius: 4px;
  font: 300 0.9vmax "Roboto";
  outline: none;
}

.updatePasswordForm > div > svg {
  position: absolute;
  transform: translateX(1vmax);
  font-size: 1.6vmax;
  color: #000000;
}

.updatePasswordBtn {
  background-color: #ffffff;
  color: #080710;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font: 400 1.2vmax "Roboto";
  width: 100%;
  padding: 0.8vmax;
  cursor: pointer;
  transition: all 0.5s;
  outline: none;
  box-shadow: 0 2px 5px #00000038;
}

.updatePasswordBtn:hover {
  background-color: #e3bb1c;
  transform: scale(1.1);
}

@media screen and (max-width: 1500px) {
  .updatePasswordContainer {
  min-height: 85vmax;
  display: flex;
}
.updatePasswordHeading {
  font: 200 2.5vmax "Roboto";
}
  .updatePasswordBox {
    width: 100%;
    background-color: #00000000;
  }

  .updatePasswordForm {
    padding: 5vmax;
  }

  .updatePasswordForm > div > input {
    padding: 2.5vmax 5vmax;
    font: 300 1.7vmax "Roboto";
}

  .updatePasswordForm > div > svg {
    font-size: 2.8vmax;
    margin-right: 1vmax;
  }

  .updatePasswordBtn {
    font: 300 1.9vmax "Roboto";
    padding: 1.8vmax;
  }
}
